---
import { Markdown } from "astro/components";
import BaseArticle from "$layouts/BaseArticle.astro";


export async function getStaticPaths() {
  let articles = Astro.fetchContent("$articles/*.md");
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { slug } = Astro.request.params;
const { article } = Astro.props;
---
<BaseArticle
  title={article.title}
  subline={article.subline}
  imgSrc={article.imgSrc}
  imgAlt={article.imgAlt}
  authorName={article.authorName}
  datePublished={article.datePublished}>
<meta slot="meta" name="ethylol:slug" content={slug}>
<Markdown content={article.astro.source} />
</BaseArticle>