---
import BaseLayout from "$layouts/BaseLayout.astro";
import json from "$/config.json";
import Debug from "astro/debug";

const imgSrc = null;
const imgAlt = null;
---
<BaseLayout
  title={json.siteName}
  description={json.siteDescription}
  imgSrc={imgSrc}
  imgAlt={imgAlt} >
  <script slot="meta" defer>
    window.location.replace("/articles/1");
  </script>
</BaseLayout>