---
export interface Props {
  title: string,
  subline: string,
  imgSrc: string,
  imgAlt: string,
  authorName: string,
  datePublished: string,
}

const {
  title,
  subline,
  imgSrc,
  imgAlt,
  authorName,
  datePublished,
} = Astro.props;
---
<article class="text-lg sm:max-w-2xl">
  <h1 class="
    max-w-prose
    font-display
    text-5xl px-4 py-4
    md:text-6xl
    ">{title}</h1>
  <h2 class="text-xl px-4 pb-4">{subline}</h2>
  <h3 class="text-lg px-4 pb-4 italic">By {authorName}</h3>
  <h3 class="px-4 pb-2">{datePublished}</h3>
  <figure class="-mx-4 min-w-screen">
    <img loading="lazy" src={imgSrc} alt={imgAlt} class="
      px-0" />
    <figcaption class="
      text-sm text-center
      px-4 py-2">
        {imgAlt} (<a href={imgSrc}>Source</a>)
    </figcaption>
  </figure>
  <section id="content" class="
    px-4 py-4
    flex flex-col gap-y-4">
    <slot />
  </section>
</article>

<!-- Prevent breaking the webpage while loading the image -->
<style lang="scss">
  @use "sass:math";

  img {
    min-height: 100vw * math.div(9, 16);
    @media (min-width: 640px) {
      min-height: 42rem * math.div(9, 16);
    }
  }
</style>