---
export interface Props {
  article: {
    slug: string,
  	title: string,
  	subline: string,
  	imgSrc: string,
  	imgAlt: string,
    authorName: string,
    datePublished: string,
  }
}
  
const { article } = Astro.props;
---
<section>
  <figure class="
    -mx-4 min-w-screen
    sm:mx-0 sm:min-w-full">
    <img src={article.imgSrc} alt={article.imgAlt} />
  </figure>
  <h1 class="
    font-display text-5xl
    pt-4"><a href={`/article/${article.slug}`}>{article.title}</a></h1>
  <h2 class="
    pb-4">{article.subline}</h2>
</section>