---
import Pagination from "./PaginationButton.astro";
import Card from "./Card.astro";

const { page } = Astro.props;
---
<div id="card-list" class="
  sm:max-w-prose
  sm:grid grid-cols-2
  gap-4
  ">
  {page.data.map((article) => (
    <Card article={article} />
  ))}
  <Pagination 
    initialUrl="/articles/1"
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`/articles/${page.lastPage}`}
    currentPageNumber={page.currentPage}
    pageCount={page.lastPage} />
</div>