---
export interface Link {
  destination: string,
  name: string,
}

export interface Props {
  sectionName: string,
  links: Link[],
}

const { sectionName, links } = Astro.props;
---
<section>
  <h2 class="font-bold">{sectionName}</h2>
  {links.map((link) => (
    <h3 class="pl-4"><a href={link.destination}>{link.name}</a></h3>
  ))}
</section>