<script>
  import NavButton from "./NavButton.svelte";

  let burger;
  let navigation;

  function ToggleClasses(el, classes) {
    for (let className of classes) {
      el.classList.toggle(className)
    }
  } 

  function toggle() {
    ToggleClasses(burger, [
      "bg-black", "text-white"
    ]);
    ToggleClasses(navigation, [
      "hidden", "flex", "flex-col",
      "border",
      "absolute", "top-20", "right-4",
      "bg-white"
    ]);
    
  }

  
</script>

<nav class="
  sm:w-screen
  sm:px-4 sm:py-2
  filter sm:shadow-md
  flex flex-row justify-center items-center content-center">

  <button class="
    flex items-center sm:hidden 
    p-4
    min-w-8 h-18
    transition-colors rounded-l-xl"
    on:click={toggle}
    bind:this={burger}>
    Menu  
  </button>

  <div class="
    hidden sm:flex flex-row justify-center items-center
    transition-opacity"
    bind:this={navigation}>
    <NavButton to="/">Home</NavButton>
    <NavButton to="/about">About</NavButton>
  </div>
</nav>

<style>
  .h-18 {
    height: 4.5rem;
  }
</style>