---
import PaginationButton from "./PaginationButton.astro";

const {
  initialUrl,
  prevUrl,
  nextUrl,
  lastUrl,
  currentPageNumber,
  pageCount
} = Astro.props;
---
<div>
  <PaginationButton url={initialUrl}>First</PaginationButton>
  <PaginationButton url={prevUrl}>Previous</PaginationButton>
  <span>Page {currentPageNumber} of {pageCount}</span>
  <PaginationButton url={nextUrl}>Next</PaginationButton>
  <PaginationButton url={lastUrl}>Last</PaginationButton>
</div>