---
import json from "$/config.json";
---
<h1 class="
  font-display text-4xl sm:text-7xl font-extrabold
  sm:text-center
  py-4 px-4 sm:px-0">
  <a href="/" class="
    drop-shadow-sm sm:drop-shadow">
    { json.siteName }
  </a> 
</h1>
