---
import { siteName, siteDescription } from "$/config.json";
import BaseLayout from "./BaseLayout.astro";
import Article from "$components/Article.astro";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(customParseFormat);
dayjs.extend(localizedFormat);

export interface Props {
	title: string,
	subline: string,
	imgSrc: string,
	imgAlt: string,
  authorName: string,
  datePublished: string,
}

const {
  title,
  subline,
  imgSrc,
  imgAlt,
  authorName,
  datePublished
} = Astro.props

const date = dayjs(datePublished, "YYYY-MM-DD ZZ")
  .format("LL");
---
<BaseLayout
  title={siteName}
  description={siteDescription}
  imgSrc={imgSrc}
  imgAlt={imgAlt} >
  <Article
    title={title}
    subline={subline}
    imgSrc={imgSrc}
    imgAlt={imgAlt}
    authorName={authorName}
    datePublished={date}>
    <slot />
  </Article>
</BaseLayout>