---
import json from "$/config.json";

export interface Props {
	title: string,
	description: string,
	imgSrc: string,
	imgAlt: string
}

const {
  title,
  description,
  imgSrc,
  imgAlt,
} = Astro.props

const url = `${json.siteUrl}${Astro.site.pathname}`;
---
<meta charset="utf-8">
<title>{title}</title>
<meta name="description" content={description}>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Facebook Social Media -->
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={imgSrc}>
<meta property="og:url" content={url}>
<meta property="fb:app_id" content={json.fbAppId}>
<meta property="og:site_name" content={json.siteName}>

<!-- Twitter Social Media -->
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={imgSrc}>
<meta name="twitter:image:alt" content={imgAlt}>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content={json.twtUsername}>

<!-- TailwindCSS -->
<link
  rel="stylesheet"
  href={Astro.resolve("../styles/global.css")}>

<!-- Links for CDN Fonts -->
<link
  href="http://fonts.cdnfonts.com/css/grenze"
  rel="stylesheet">

<link
  href="http://fonts.cdnfonts.com/css/lora"
  rel="stylesheet">
