---
import json from "$/config.json";
import BaseHead from "./BaseHead.astro";
import SiteHeader from "./SiteHeader.astro";
import SiteFooter from "./SiteFooter.astro";

export interface Props {
	title: string,
	description: string,
	imgSrc: string,
	imgAlt: string
}

const {
  title,
  description,
  imgSrc,
  imgAlt
} = Astro.props
---
<html lang="en">

<head>
	<BaseHead
		title={title}
		description={description}
  	imgSrc={imgSrc}
  	imgAlt={imgAlt} />
	<slot name="meta" />
</head>

<body class="
	font-body
	flex flex-col justify-between 
	min-h-screen">
	<SiteHeader siteName={json.siteName} />

	<main class="
		shadow sm:shadow-md
		p-4
		flex flex-col justify-center items-center
		flex-grow">
		<slot />
	</main>

	<SiteFooter />
</body>

</html>
