---
import Navigation from "../components/Navigation.svelte";
import SiteTitle from "$components/SiteTitle.astro";
---
<header>
  <div class="
    flex flex-row justify-between sm:flex-col-reverse">
    <SiteTitle />
    <Navigation client:load />
  </div>
  <!-- Simply a hack for drop-shadow -->
  <hr class="
    text-gray-300 
    filter drop-shadow sm:drop-shadow-none 
    sm:hidden" />
</header>