---
import LinkTree from "$components/LinkTree.astro";
import LinkTree from "$components/Attribution.astro";

const siteLinks = [
  {
    destination: "/",
    name: "Home",
  },
  {
    destination: "/about",
    name: "About",
  },
];

const socialLinks = [
  {
    destination: "https://www.twitter.com/ethyloltoday",
    name: "Twitter"
  }
];
---
<footer class="
  p-4 
  bg-green-900 text-white 
  shadow-inner
  grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4
  gap-4">
  <Attribution />
  <LinkTree sectionName="Site" links={siteLinks} />
  <LinkTree sectionName="Socials" links={socialLinks} />
</footer>